{{/* Base website file templates */}}
{{/*
  This file contains the templates with the elements common to all pages:
    - main-head
    - main-foot
    - header
    - footer
    - metatags
    - blazium-link-menu
*/}}


{{/* Document head template */}}
{{/* Use this template before the page content template */}}

{{define "main-head"}}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    {{template "metatags" .}}
  
    {{- /* Import Font Awesome */}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous" referrerpolicy="no-referrer">
  
    {{- /* Import CSS */}}
    <link rel="stylesheet" href="/static/css/prism.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/styles.css">
  
    {{- /* Import JS */}}
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/main.js"></script>
  </head>
  <body hx-boost="true">
    {{template "header"}}
    <div style="position: absolute">
      <dialog id="cookies-notice">
        <h4><i class="align fa-solid fa-cookie-bite"></i>Cookie notice</h4>
        <p>
          Our website uses third-party services to enhance your experience and provide interactive content.
          These services may use cookies or tracking technologies.<br>
          By clicking <strong>"Accept"</strong>, you agree to the use of cookies.
          For more information, please review our <a href="/privacy-policy">Privacy Policy</a>.
        </p><br>
        <button type="button" class="secondary-btn" onclick="acceptCookies()">Accept</button>
        <button type="button" class="secondary-btn" onclick="dismissNotice()">Decline</button>
      </dialog>
    </div>
    <main>
{{end}}


{{/* Document foot template */}}
{{/* Use this template after the page content template */}}

{{define "main-foot"}}
  </main>
  {{template "footer"}}
  {{template "blazium-link-menu"}}
  </body>
  </html>
{{end}}


{{/* Template for the website header */}}

{{define "header"}}
  <header class="no-drag">
    <nav>
      <a title="Home" class="logo" href="/">
        <img class="no-drag no-select" src="/static/assets/logo.svg" alt="Blazium Logo">
        <h1>Blazium</h1>
      </a>
      <a class="hideOnMobile" title="Features" href="/features"><i class="align fa-solid fa-circle-info"></i>Features</a>
      <a class="hideOnMobile" title="Download Blazium" href="/download"><i class="align fa-solid fa-download"></i>Download</a>
      <a class="hideOnMobile" title="Blazium blog" href="/blog" name="blog-btn" hx-boost="false"><i class="align fa-solid fa-newspaper"></i>Blog</a>
      <a class="hideOnMobile" title="Dev tools" href="/dev-tools"><i class="align fa-solid fa-screwdriver-wrench"></i>Tools</a>
      <a class="hideOnMobile" title="Roadmaps" href="/roadmaps"><i class="align fa-solid fa-map-location-dot"></i>Roadmaps</a>
      <a class="hideOnMobile" title="Games" href="/games"><i class="align fa-solid fa-gamepad"></i>Games</a>
      <a class="hideOnMobile" title="Documentation" href="{{template "link-docs"}}"><i class="align fa-solid fa-book"></i>Docs</a>
      <span class="no-select hideOnMobile" hx-boost="false">
        <a title="Discord / Community" href="{{template "link-discord"}}"><i class="fab fa-discord"></i></a>
        <a title="Twitter / X" href="{{template "link-twitter"}}"><i class="fab fa-x-twitter"></i></a>
        <a title="Blazium GitHub" href="{{template "link-blazium-git"}}"><i class="fab fa-github"></i></a>
      </span>
      <button class="ham-menu-btn" onclick="showHamMenu()" aria-label="Open menu" type="button"><i class="fa-solid fa-bars"></i></button>
    </nav>
    {{/* mobile phones menu */}}
    <nav id="hamburger-nav">
      <div>
        <a title="Home" class="logo" href="/">
          <img class="no-drag no-select" src="/static/assets/logo.svg" alt="Blazium Logo">
          <h1>Blazium</h1>
        </a>
        <button class="ham-menu-btn" onclick="hideHamMenu()" aria-label="Close menu" type="button"><i class="fa-solid fa-x"></i></button>
      </div>
      <a title="Features" href="/features"><i class="align fa-solid fa-circle-info"></i>Features</a>
      <a title="Download Blazium" href="/download"><i class="align fa-solid fa-download"></i>Download</a>
      <a title="Blazium blog" href="/blog" name="blog-btn" hx-boost="false"><i class="align fa-solid fa-newspaper"></i>Blog</a>
      <a title="Dev tools" href="/dev-tools"><i class="align fa-solid fa-screwdriver-wrench"></i>Tools</a>
      <a title="Roadmaps" href="/roadmaps"><i class="align fa-solid fa-map-location-dot"></i>Roadmaps</a>
      <a title="Games" href="/games"><i class="align fa-solid fa-gamepad"></i>Games</a>
      <a title="Documentation" href="{{template "link-docs"}}"><i class="align fa-solid fa-book"></i>Documentation</a>
      <span class="no-select" hx-boost="false">
        <a title="Discord / Community" href="{{template "link-discord"}}"><i class="fab fa-discord"></i></a>
        <a title="Twitter / X" href="{{template "link-twitter"}}"><i class="fab fa-x-twitter"></i></a>
        <a title="Blazium GitHub" href="{{template "link-blazium-git"}}"><i class="fab fa-github"></i></a>
      </span>
    </nav>
  </header>
{{end}}


{{/* Template for the website footer */}}

{{define "footer"}}
  <footer class="no-drag">
    <nav>
      <ul>
        <li>
          <a title="Home" class="logo" href="/">
            <img class="no-drag no-select" src="/static/assets/logo.svg" alt="Blazium Logo">
            <h1>Blazium</h1>
          </a>
        </li>
        <li><a title="Website source code" href="{{template "link-website-git"}}">Website source code </a></li>
        <li><a title="Terms of service" href="/terms-of-service">Terms of service</a></li>
        <li><a title="Privacy policy" href="/privacy-policy">Privacy policy</a></li>
        <li><a title="Licenses" href="/licenses">Licenses</a></li>
        <li><a title="Brand Kit" href="/brand-kit">Brand Kit</a></li>
      </ul>
      <ul>
        <li><a title="Features" href="/features"><i class="align fa-solid fa-circle-info"></i>Features</a></li>
        <li><a title="Download Blazium" href="/download"><i class="align fa-solid fa-download"></i>Download</a></li>
        <!-- <li><a title="Web Editor" href="{{template "link-web-editor"}}"><i class="align fa-brands fa-html5"></i>Web Editor</a></li> -->
        <li><a title="Changelog" href="/changelog" name="changelog-btn"><i class="align fa-solid fa-list"></i>Changelog</a></li>
        <li><a title="Dev tools" href="/dev-tools"><i class="align fa-solid fa-screwdriver-wrench"></i>Dev Tools</a></li>
        <li><a title="Download tools" href="/dev-tools/download"><i class="align fa-solid fa-screwdriver-wrench"></i>Download Tools</a></li>
      </ul>
      <ul>
        <li><a title="Documentation" href="{{template "link-docs"}}"><i class="align fa-solid fa-book"></i>Documentation</a></li>
        <li><a title="Roadmaps" href="/roadmaps"><i class="align fa-solid fa-map-location-dot"></i>Roadmaps</a></li>
        <li><a title="Games" href="/games"><i class="align fa-solid fa-gamepad"></i>Games</a></li>
        <li><a title="What is blazium" href="/what-is-blazium"><i class="align fa-solid fa-circle-info"></i>What is Blazium</a></li>
        <li><a title="Meet the team" href="/meet-the-team"><i class="align fa-solid fa-people-group"></i>Meet the team</a></li>
        <li><a title="Sponsors" href="/sponsors"><i class="align fa-solid fa-handshake"></i>Sponsors</a></li>
      </ul>
      <ul hx-boost="false">
        <li><a title="Blazium blog" href="/blog" name="blog-btn" hx-boost="false"><i class="align fa-solid fa-newspaper"></i>Blog</a></li>
        <li><a title="Discord / Community" href="{{template "link-discord"}}"><i class="align fab fa-discord"></i>Discord</a></li>
        <li><a title="Twitter / X" href="{{template "link-twitter"}}"><i class="align fab fa-x-twitter"></i>Twitter</a></li>
        <li><a title="Blazium GitHub" href="{{template "link-blazium-git"}}"><i class="align fab fa-github"></i>GitHub</a></li>
        <li><a title="Blazium YouTube" href="{{template "link-youtube"}}"><i class="align fab fa-youtube"></i>YouTube</a></li>
        <li>
          <a href="https://www.indiedb.com/engines/blazium-engine" title="View Blazium Engine on IndieDB"><img
              src="https://button.indiedb.com/popularity/medium/engines/1168.png" alt="Blazium Engine"></a>
        </li>
      </ul>
    </nav>
    <p>© 2024-present Blazium Engine contributors.</p>
  </footer>
{{end}}


{{/* Meta Tags Template */}}

{{define "metatags"}}
    {{- $title := "Blazium Engine - Community-driven, powerful, and flexible"}}
    {{if .Title}}
        {{$title = .Title}}
    {{end}}
    {{- $description := "Develop your 2D & 3D games, cross-platform projects, and XR experiences—all in one place"}}
    {{if .Description}}
        {{$description = .Description}}
    {{end}}
    {{- $url := "https://blazium.app"}}
    {{if .Url}}
        {{$url = (printf "%s%s" $url .Url)}}
    {{end}}
    {{- $embed_img := "https://blazium.app/static/assets/embed_img.webp"}}
    {{if .Image}}
        {{$embed_img = .Image}}
    {{end}}

    {{- /* Website title */}}
    <title>{{$title}}</title>

    {{- /* The value is the same as --primary-color */}}
    <meta name="theme-color" content="#260c32">

    {{- /* SEO Meta Tags */}}
    <meta name="author" content="Blazium Team">
    <meta name="description" content={{$description}}>
    <meta name="keywords" content="Blazium, Game Engine, Game Development, Blazium Engine, Blazium App, Community-driven">

    {{- /* Open Graph Meta Tags (for Google, Facebook, LinkedIn) */}}
    <meta property="og:title" content="{{$title}}">
    <meta property="og:description" content={{$description}}>
    <meta property="og:url" content={{$url}}>
    <meta property="og:image" content={{$embed_img}}>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Blazium Engine">

    {{- /* Twitter Meta Tags */}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{$title}}">
    <meta name="twitter:site" content="@BlaziumGames">
    <meta name="twitter:description" content={{$description}}>
    <meta name="twitter:image" content={{$embed_img}}>
    <meta name="twitter:url" content={{$url}}>
{{end}}

{{define "blazium-link-menu"}}
  <nav id="blazium-link-menu">
    <label className="button">
      <input hidden type="checkbox" />
      More by Blazium
    </label>
    <hr />
    <a href="https://blazium.app">
      <img src="/static/assets/logo.svg" alt="blazium.app" />
      blazium.app
    </a>
    <a href="https://blazium.games">
      <img src="/static/assets/logo.svg" alt="blazium.games" />
      blazium.games
    </a>
    <a href="https://shoyo.work">
      <img src="/static/assets/shoyo.svg" alt="shoyo.work" />
      shoyo.work
    </a>
    <a href="https://blazium-games.github.io/rune_docs">
      <img src="/static/assets/rune.ico" alt="rune_docs" />
      RUNE Interface
    </a>
    <hr />
  </nav>
{{end}}