@import url("https://api.fontshare.com/v2/css?f[]=nunito@1,2&display=swap");

:root {
  /* Sizes */
  --margin-xxs: .25rem;
  --margin-xs: .5rem;
  --margin-s: .75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;

  /* Colors */
  --primary-color: hsl(281, 62%, 12%);
  --t-primary-color: hsla(281, 62%, 12%, 95%);

  --secondary-color: hsl(265, 48%, 28%);

  --accent-color: hsl(282, 71%, 56%);
  /* Logo Gradient middle color */
  --highlight-color: hsla(282, 71%, 56%, 50%);

  --gray-10: hsl(0, 0%, 10%);
  --gray-20: hsl(0, 0%, 20%);
  --gray-30: hsl(0, 0%, 30%);
  --gray-40: hsl(0, 0%, 40%);
  --gray-50: hsl(0, 0%, 50%);
  --gray-60: hsl(0, 0%, 60%);
  --gray-70: hsl(0, 0%, 70%);
  --gray-80: hsl(0, 0%, 80%);
  --gray-90: hsl(0, 0%, 90%);

  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --code-font: 'JetBrains Mono', monospace;

  --h1: bold 4rem/1em var(--main-font);
  --h2: bold 3rem/1.2em var(--main-font);
  --h3: bold 2.25rem/1.3em var(--main-font);
  --h4: bold 1.5rem/1.3em var(--main-font);

  --p-small: normal 0.75rem/2em var(--secondary-font);
  --p: normal 1.1rem/1.4em var(--secondary-font);
  --p-big: normal 1.25rem/1.6em var(--secondary-font);

  --grain: url("/static/assets/grain.webp");

  --page-width: 95rem
}

* {
  margin: 0;
  padding: 0;
  border: 0;

  scrollbar-color: var(--accent-color) var(--primary-color);
}

::selection {
  background: var(--highlight-color);
  color: white;
}

::-moz-selection {
  background: var(--highlight-color);
  color: white;
}

html {
  background: linear-gradient(var(--primary-color), var(--secondary-color) 100vh);
  background-color: var(--secondary-color);
}

body {
  font-family: var(--main-font);
  color: white;
}

body:before {
  pointer-events: none;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  mix-blend-mode: screen;
  background: var(--grain);
  background-size: 126px;
  --gradient: radial-gradient(circle at top, rgba(0, 0, 0, 0.2), transparent 75%);
  -webkit-mask-image: var(--gradient);
  mask-image: var(--gradient);
  z-index: -1;
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

h4 {
  font: var(--h4);
}

p {
  font: var(--p);
  color: var(--gray-80);

  a {
    text-decoration: underline;
    font: inherit;
    color: var(--accent-color);
  }
}

a {
  text-decoration: none;
  font: var(--p-big);
  color: var(--gray-80);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-color);
}

main {
  padding-top: 10em;
  width: var(--page-width);
  min-height: 32vh;
  margin-inline: auto;
  max-width: 90%;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 6em;
  background-color: transparent;
  border: 0px solid transparent;
  transition: height 0.3s ease, background-color 0.3s ease, border 0.3s ease;

  nav {
    width: var(--page-width);
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}

summary {
  cursor: pointer;
}

input[type="search"]:focus {
  outline: none;
  border-color: var(--accent-color);
  color: white;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 0.9lh;
  width: 0.9lh;
  background: url("/static/assets/delete-icon.svg") no-repeat;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  cursor: pointer;
  opacity: .25;
  pointer-events: all;
}

input[type="search"]::-webkit-search-cancel-button:hover {
  opacity: .75;
}

dialog#cookies-notice {
  position: fixed;
  z-index: 1000;
  bottom: var(--margin-m);
  left: var(--margin-m);
  max-width: 80vw;
  width: 640px;
  background-color: var(--primary-color);
  border-radius: 8px;
  border: 2px solid var(--accent-color);
  padding: var(--margin-m);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);

  h4 {
    color: white;
  }

  a {
    transition: filter 0.3s;
  }

  a:hover {
    filter: brightness(1.25);
  }
}

.iframe-placeholder {
  display: flex;

  iframe {
    display: none;
  }

  section {
    flex-grow: 1;
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: var(--margin-xxl);

    p {
      max-width: 640px;
    }
  }
}

.iframe-placeholder.allow {
  iframe {
    display: inline-block;
  }

  section {
    display: none;
  }
}

#roadmaps-embeds {

  iframe,
  .iframe-placeholder {
    height: 50vh;
  }

  iframe {
    border-radius: 8px;
    margin-top: var(--margin-s);
  }
}

#hamburger-nav {
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 100%;
  z-index: 1000;
  background-color: var(--primary-color);
  display: none;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  padding-inline: 5%;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
  }

  a:not(.logo) {
    border-bottom: 1px solid var(--secondary-color);
    line-height: 2.5em;
  }

  span a {
    width: 4ch;
  }
}

.ham-menu-btn {
  display: none;
  font: var(--h3);
  color: white;
  background-color: transparent;
}

@media(max-width: 1024px) {
  h1 {
    font: var(--h2);
  }

  h2 {
    font: var(--h3);
  }

  h3 {
    font: var(--h4);
  }

  h4 {
    font: var(--p-big);
  }

  .hideOnMobile {
    display: none;
  }

  .ham-menu-btn {
    display: block;
  }
}

header.sticky {
  height: 4em;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12em;
  padding: 4em 0;
  background-color: var(--primary-color);

  nav {
    width: var(--page-width);
    max-width: 90%;
    margin-bottom: var(--margin-xxl);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: var(--margin-m);
    column-gap: var(--margin-xxl);

    ul {
      display: flex;
      flex-direction: column;

      li {
        all: unset;
      }
    }
  }
}

.no-select {
  -webkit-user-select: none;
  user-select: none;
}

.no-drag {
  -webkit-user-drag: none;
}

i.align {
  min-width: 2ch;
  margin-right: 4px;
}

i.align:before {
  display: flex;
  justify-content: center;
}

.primary-btn,
.secondary-btn {
  text-decoration: none;
  cursor: pointer;
  background-color: var(--accent-color);
  padding: var(--margin-xs) var(--margin-s);
  border-radius: 16px;
  font: var(--h4);
  color: white;
  border: 2px solid var(--accent-color);
  transition: background-color 0.3s ease;
  text-align: left;
}

.primary-btn:hover {
  color: white;
  background-color: var(--secondary-color);
}

.secondary-btn {
  background-color: var(--primary-color);
  padding: 0 var(--margin-s);
  font: var(--p);
  color: var(--gray-80);
  transition: color 0.2s, border-color 0.2s;
  border-color: var(--secondary-color);
}

.secondary-btn:hover {
  border-color: var(--accent-color);
  color: white;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-xxs);

  label {
    border-color: var(--secondary-color);

    input {
      display: none;
    }
  }

  label:has(input:checked) {
    border-color: var(--accent-color);
  }
}

/* Used in the header and footer */
.logo {
  display: flex;
  flex-direction: row;
  gap: 2px;
  color: white;

  h1 {
    font-size: 1.5em;
    line-height: 1.1em;
  }

  img {
    height: 1.5em;
  }
}

/* Dropdown menu styling */
.dropdown {
  position: relative;
  display: inline-block;
  min-width: max-content;
  font: var(--p-big);
}

.dropdown-button,
.dropdown-menu li {
  padding: 0 var(--margin-xs);
  border: 1px solid var(--primary-color);
  transition: border-color 0.3s ease;
}

.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font: inherit;
  text-align: left;
  border-color: var(--secondary-color);

  .text {
    margin-right: var(--margin-xs);
  }

  i {
    color: var(--gray-80);
  }
}

.dropdown-button:hover {
  border-color: var(--accent-color);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  z-index: 1000;
  overflow-y: auto;
  transform-origin: top;
  background-color: var(--primary-color);
  max-height: 6lh;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: scale(0);
}

.dropdown-menu.active {
  transform: scale(1);
}

.dropdown-menu li {
  color: white;
  cursor: pointer;
  white-space: nowrap;
  border: none;
}

.dropdown-menu li.selected {
  color: var(--accent-color);
}

.dropdown-menu li:hover {
  color: white;
  background-color: var(--accent-color);
}

.brand-btn {
  border-radius: 8px;
  display: flex;
  align-items: center;

  img {
    max-height: 1.5em;
    max-width: 1.5em;
    margin-right: var(--margin-m);
  }
}

.card:not(:has(img)) {
  all: unset;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--secondary-color);
  max-width: 90vw;
  padding: var(--margin-m);
  background: var(--primary-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--margin-xxl);
}

.card:has(img) {
  all: unset;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--secondary-color);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  box-sizing: border-box;
  max-width: 90vw;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: var(--margin-m);
    background: linear-gradient(transparent 25%, var(--t-primary-color) 75%);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;

    a {
      margin-top: var(--margin-s);
    }
  }
}

.card:has(img):hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border-color: var(--accent-color);

  .secondary-btn {
    border-color: var(--accent-color);
  }
}

.card:has(img):has(a) {
  cursor: default;
}

.card-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: var(--margin-s);
  margin-block: var(--margin-l);
}

.card-grid-container.fill {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

  .card {
    aspect-ratio: 4/3;
  }
}

.head-section {
  margin-bottom: var(--margin-l);

  p {
    font: var(--p-big);
    margin-top: var(--margin-l);
  }

  h2 {
    margin-top: var(--margin-l);
  }
}

#above-fold {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: var(--margin-xxl);

  #intro-text {
    max-width: 90vw;

    h1 {
      margin-bottom: var(--margin-l);
    }

    p {
      font: var(--p-big);
      margin-bottom: var(--margin-xl);
    }
  }

  #preview {
    max-width: 90vw;
    margin-bottom: var(--margin-xxl);

    img,
    video {
      max-height: 42em;
      max-width: 75vw;
      margin-left: auto;
      display: block;

      --mask: url("../assets/logo_mask.svg");

      -webkit-mask-image: var(--mask);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: contain;

      mask-image: var(--mask);
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }
}

#features-section {
  margin-bottom: 4em;
  grid-auto-flow: column-reverse;

  .card img {
    object-position: center;
    max-height: 400px;
    max-width: 90vw;
    aspect-ratio: 1;
  }

  #first,
  #fourth {
    grid-column: span 2;
  }

  @media (max-width: 1024px) {

    #first,
    #fourth {
      grid-column: span 1;
    }
  }

  #second,
  #third {
    grid-column: span 1;
  }
}

/* Blog section */
.head-section #blog-head-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: var(--margin-xs);
}

#blog-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: var(--margin-xs);
  margin-block: 1em;
}

/* blog article styling*/
#blog-intro {
  position: relative;
  border-radius: 8px 8px 0 0;
  overflow: hidden;

  @media (max-width: 600px) {
    h1 {
      font: var(--h3);
      line-height: 2.5lh;
    }
  }

  p {
    font: var(--p-big);
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 2/1;
    border-radius: 0 0 8px 8px;
  }

  a {
    line-height: 0px;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2ch;
    background: linear-gradient(transparent 49%, var(--primary-color) 99%);
    box-sizing: border-box;

    @media (max-width: 600px) {
      border-radius: 8px 8px 0 0;
      width: unset;
      max-width: 100%;
      position: relative;
      background: var(--primary-color);
    }
  }
}

.article {
  background-color: var(--primary-color);
  padding: var(--margin-s) 16%;
  border-radius: 0 0 8px 8px;

  @media (max-width: 1024px) {
    padding-inline: var(--margin-s);
  }

  a:not(.indiedb, .secondary-btn) {
    text-decoration: underline;
    font: inherit;
    color: var(--accent-color);
    transition: filter 0.3s;
  }

  a:not(.indiedb, .secondary-btn):hover {
    filter: brightness(1.25);
  }

  p,
  li {
    font: var(--p-big);
    color: var(--gray-90);
  }

  p,
  ul,
  ol {
    margin-bottom: var(--margin-xl);
  }

  ul,
  ol {
    padding-left: 2em;
  }

  a:has(img) {
    width: 100%;
    text-align: center;
  }

  img:not(.indiedb) {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
    object-position: center;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
  }

  iframe {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    margin-top: var(--margin-s);
  }

  iframe[src*="youtube"] {
    height: auto;
    aspect-ratio: 16/9;
  }

  blockquote {
    padding-left: var(--margin-m);
    border-left: 4px solid var(--secondary-color);
  }
}

.article.md {
  border-radius: 8px;

  h1 {
    margin-block: var(--margin-m);
  }
}

#team-members {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.team-member {
  display: flex;
  gap: 1em;
  align-items: start;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 1em;
  margin-top: 2em;
  flex-direction: column;

  p {
    margin-bottom: 0;
  }

  section {
    display: flex;
    align-items: start;
    gap: 1em;

    img {
      aspect-ratio: 1;
      max-width: 64px !important;
      min-width: 64px !important;
    }

    h3 {
      font: var(--h4);
    }

    p {
      border-bottom: 1px solid var(--secondary-color);
    }
  }
}

#changelog {
  min-height: 75vh;
  word-wrap: break-word;

  #loading-indicator {
    position: absolute;
    left: 50%;
    top: 50%;
    pointer-events: none;
    background-color: var(--t-primary-color);
    font: var(--p-big);
  }

  div#content {
    display: flex;
    gap: var(--margin-xxl);

    @media(max-width: 720px) {
      flex-direction: column;
    }
  }

  aside {
    border: 2px solid var(--secondary-color);
    border-width: 2px 2px 0 0;

    .htmx-indicator {
      display: none;
    }

    .htmx-indicator.htmx-request {
      display: unset;
    }
  }

  fieldset {
    flex: 1;
    display: flex;
    gap: 0;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;
    }

    details {
      div {
        padding-left: var(--margin-m);
        border: 2px solid var(--secondary-color);
        border-width: 0 0 2px 2px;
      }

      summary {
        padding: var(--margin-xs);
        border-left: 4px solid transparent;
        border-bottom: 2px solid var(--secondary-color);
      }

      .secondary-btn {
        border-radius: 0;
      }
    }

    details[open] summary {
      border-left: 4px solid var(--accent-color);
      border-bottom: 0;
    }
  }

  section#changelog-article {
    flex: 1;

    blockquote {
      margin-block: var(--margin-m);
    }

    hr {
      margin-top: var(--margin-m);
      border-top: 2px solid var(--secondary-color);
    }

    details {
      margin-block: var(--margin-m);
    }
  }
}

#games.card-grid-container .card {
  aspect-ratio: 16/9;

  img {
    object-fit: contain;
  }

  section {
    background: linear-gradient(transparent 60%, var(--t-primary-color) 90%);
  }
}

/* Download section */
#download {
  padding-top: var(--margin-xxl);
  max-width: 1000px;
  margin-inline: auto;

  #download-type {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: var(--margin-m);
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-xs) var(--margin-xl);
    padding: 0 var(--margin-xs);

    a {
      font: var(--h4);
    }

    a.select {
      color: var(--accent-color);
      border-bottom: 2px solid var(--accent-color);
    }

    a i {
      min-width: 1.5ch;
      margin-right: 0.5ch;
    }

    i:before {
      display: flex;
      justify-content: center;
    }
  }

  #download-options {
    display: flex;
    flex-direction: column;
    gap: 3em;
    font: var(--p-big);
    min-height: 24em;

    background-color: var(--primary-color);
    border-radius: 8px;
    padding: var(--margin-m);

    #no-android,
    #no-macos {
      display: inline-block;
    }

    #release-selection {
      flex-grow: 1;
      line-height: 2em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--margin-m);

      span#secondary-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: var(--margin-xxs);

        span {
          display: flex;
          flex-wrap: wrap;
          gap: var(--margin-xxs);
        }
      }

      .code-toolbar {
        --min: calc(90vw - var(--margin-m) - var(--margin-m));
        max-width: var(--min);
      }
    }

    #export-templates {
      div {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: var(--margin-xs);
      }

      p {
        font: var(--p-big);
        margin-bottom: var(--margin-xs);
      }
    }
  }

  #digital-stores {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--margin-xs);
  }
}

#page-selector {
  text-align: center;
  margin-block: var(--margin-l);
  font: var(--h4);

  .secondary-btn {
    font: inherit;
  }

  .secondary-btn.selected {
    border-color: var(--accent-color);
  }
}

/* brand kit */
#logo-mark.card-grid-container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#logo-horizontal,
#logo-vertical,
#logo-mark {
  .light-bg {
    background-color: white;
  }

  div {
    max-width: 80vw;
  }
}

#colors.card-grid-container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  div {
    background-color: white;
    aspect-ratio: 3/2;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    padding: var(--margin-xs);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 75vw;

    h4,
    p {
      color: black;
      margin-bottom: 0;
    }
  }

  .color-card.mid-color,
  .color-card.purple,
  .color-card.purple-bg,
  .color-card.dark-gray {

    h4,
    p {
      color: white;
    }
  }

  .color-card.pink {
    background-color: #ff80ff;
  }

  .color-card.mid-color {
    background-color: #af40df;
  }

  .color-card.purple {
    background-color: #6000bf;
  }

  .color-card.purple-bg {
    background-color: #220f25;
  }

  .color-card.dark-gray {
    background-color: #404040;
  }
}

#features-list-button {
  display: block;
  width: fit-content;
  margin-inline: auto;
  margin-top: var(--margin-xxl);
}

#sponsors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 24px;

  a:hover {
    filter: none;
  }

  a {
    height: 128px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;

    img {
      border: none;
      max-height: 96px;
      max-width: 100%;
      padding-inline: 12px;
    }
  }

  a:hover {
    border-color: var(--accent-color);
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

#blazium-link-menu {
  all: initial;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  *:not(input) {
    all: initial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  --bg: oklch(0.21 0.05 322);
  --accent: oklch(0.41 0.20 307);
  --accent-muted: oklch(from var(--accent) l c h / 0.5);
  --text: oklch(1.00 0.0 0);
  --text-muted: oklch(0.85 0.0 0);

  --font-family: "Nunito", sans-serif;

  --spacing-2xs: 0.25rem;
  --spacing-xs: 0.50rem;
  --spacing-l: 1.25rem;
  --spacing-xl: 1.50rem;

  --box-shadow:
    rgba(0, 0, 0, 0.25) 0px 2px 2px,
    inset rgba(255, 255, 255, 0.15) 0px 1px 0px,
    inset rgba(0, 0, 0, 0.25) 0px 0px 0px,
    inset rgba(255, 255, 255, 0.05) 0px 20px 4px,
    inset rgba(0, 0, 0, 0.15) 0px -20px 20px,
    inset rgba(255, 255, 255, 0.05) 0px 20px 20px;

  --hover-box-shadow:
    rgba(0, 0, 0, 0.25) 0px 2px 2px,
    inset rgba(255, 255, 255, 0.25) 0px 1px 0px,
    inset rgba(0, 0, 0, 0.25) 0px 0px 0px,
    inset rgba(255, 255, 255, 0.05) 0px 20px 4px,
    inset rgba(0, 0, 0, 0.15) 0px -20px 20px,
    inset rgba(255, 255, 255, 0.05) 0px 20px 20px;

  --active-box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0px 0px,
    inset rgba(255, 255, 255, 0) 0px 1px 0px,
    inset rgba(0, 0, 0, 0.5) 0px 0px 5px,
    inset rgba(255, 255, 255, 0.05) 0px 15px 4px,
    inset rgba(0, 0, 0, 0.15) 0px -20px 20px,
    inset rgba(255, 255, 255, 0.05) 0px 20px 20px;

  --text-shadow: 0px 1px 2px oklch(0 0 0 / 0.9);

  box-shadow: var(--box-shadow);

  background-color: var(--bg);
  position: fixed;
  display: flex;
  flex-direction: column;
  border-radius: var(--spacing-xs);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  gap: var(--spacing-xs);
  z-index: 10000;
  border: 1px solid var(--accent-muted);
  padding: var(--spacing-2xs);
  padding-bottom: var(--spacing-xl);
  bottom: -4px;
  translate: 0 calc(100% - 32px);
  transition: translate 0.2s cubic-bezier(0, 1.25, 0.5, 1);

  label {
    padding: 0 var(--spacing-xs);
    border-radius: var(--spacing-xs);
    background-color: var(--accent);
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    color: var(--text-muted);
    font-family: var(--font-family);
    font-size: 0.875rem;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    line-height: var(--spacing-l);
    transition-property: box-shadow, translate, color;
    transition-duration: 0.1s;

    &:hover {
      color: var(--text);
      box-shadow: var(--hover-box-shadow)
    }

    &:active {
      translate: 0 1px;
      box-shadow: var(--active-box-shadow);
    }
  }

  hr {
    margin: 0;
    background-color: var(--accent-muted);
    height: 1px;
  }

  a {
    display: flex;
    gap: var(--spacing-2xs);
    align-items: center;
    color: var(--text-muted);
    text-shadow: var(--text-shadow);
    font-family: var(--font-family);
    cursor: pointer;

    img {
      cursor: pointer;
      filter: drop-shadow(var(--text-shadow));
      height: var(--spacing-xl);
      width: var(--spacing-xl);
    }
  }

  &:has(input:checked),
  &:focus-within {
    translate: 0 0;
  }
}